In [7]:
pip install pyodbc

Collecting pyodbcNote: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 19.2.3, however version 21.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

  Downloading https://files.pythonhosted.org/packages/83/ad/b8b109c6ce0c5cd306218337fcd8226bff24e803f17aea339d1fe1e0070b/pyodbc-4.0.30-cp36-cp36m-win_amd64.whl (78kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.30

In [29]:
import pandas as pd
from sqlalchemy import create_engine
import pyodbc
import numpy as np
import datetime

In [2]:
server = 'tcp:mycmvserver.database.windows.net' 
database = 'cmvdb_uat' 
username = 'ecervantes@cmvlatam.com' 
password = 'Columbia87/' 


connection = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:mycmvserver.database.windows.net,1433;Database=cmvdb_uat;Uid='+username+';Pwd='+password+';Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;Authentication=ActiveDirectoryInteractive')
cursor = connection.cursor()

# Define the database URL
db_url = "mssql+pyodbc://ecervantes:artline87/@mycmvserver.database.windows.net.cmvdb_uat"
# Create the engine object
engine = create_engine(db_url)

In [83]:
query = "SELECT TOP (100) * FROM [dbo].[fxblotter.t]"
# Read the SQL query into a DataFrame
fxblotter = pd.read_sql(query, connection, index_col='tradeid', parse_dates=True)
##fxblotter[::-1]
fxblotter.sort_index(inplace=True)
## filtro para fecha en T o dia de consulta ### 
##tradedate = '2021-06-16'
##fxblottert = fxblotter.loc[fxblotter['tradedate'] == tradedate] ## se debe ajustar la fecha al inicio de dia##
##fxblottert = fxblotter[fxblotter['tradedate'].dt.strftime('%Y-%m-%d') == '2021-06-16' ]

##fxblottert = fxblotter.groupby(["tradedate"]).get_group(('2021-06-11'))
##fxblottert = fxblotter.query(["tradedate"])

fxblotter['tradedate'] = pd.to_datetime(fxblotter['tradedate'])
fxblotter['valuedate'] = pd.to_datetime(fxblotter['valuedate'])
fxblottert = fxblotter.loc[fxblotter['tradedate'] == '2021-06-16']

fxblottert.head(100)

,tiquetid,createdat,accionid,sideid,clienteid,comccyid,montocom,px_sp,venccyid,montoven,...,monex_pxlast,monex_pp,estadoid,ejecutivoid,dealerid,productotipoid,solicitud,deletetradeid,UT1,UT2
tradeid,,,,,,,,,,,,,,,,,,,,,
202106160000072,72,2021-06-16 02:50:48.333,1,1,116450,1,915.00,6617.00,2,564555.00,...,619.0,618.89,1,1,2,1,114466,None,None,None
202106160000073,73,2021-06-16 02:51:52.487,1,1,116281,1,8079.50,616.85,2,4983839.58,...,619.0,618.89,1,1,2,1,114466,None,None,None
202106160000074,74,2021-06-16 02:52:28.203,1,1,112384,1,3666.20,615.00,2,2254713.00,...,619.0,618.89,1,1,2,1,114466,None,None,None
202106160000075,75,2021-06-16 02:53:09.913,1,1,101059,1,25000.00,617.25,2,15431250.00,...,619.0,618.89,1,1,2,1,114466,None,None,None
202106160000076,76,2021-06-16 02:53:51.440,1,1,116359,1,410.00,616.00,2,252560.00,...,619.0,618.89,1,1,2,1,114466,None,None,None
202106160000077,77,2021-06-16 02:54:29.203,1,1,101051,1,2430.48,617.00,2,1499606.16,...,619.0,618.89,1,1,2,1,114466,None,None,None
202106160000078,78,2021-06-16 02:55:23.923,1,1,114049,1,972.45,617.00,2,600001.65,...,619.0,618.89,1,1,2,1,114466,None,None,None
202106160000079,79,2021-06-16 02:56:02.633,1,1,116465,1,34894.88,617.25,2,21538864.68,...,619.0,618.89,1,1,2,1,114466,None,None,None
202106160000080,80,2021-06-16 02:57:28.290,1,1,116347,1,3000.00,617.00,2,1851000.00,...,619.0,618.89,1,1,2,1,114466,None,None,None
202106160000081,81,2021-06-16 02:57:57.203,1,1,116244,1,3000.00,618.30,2,1854900.00,...,619.0,618.89,1,1,2,1,114466,None,None,None
202106160000082,82,2021-06-16 03:00:11.100,1,2,116012,2,24800000.00,620.00,1,40000.00,...,619.0,618.89,1,1,2,1,114466,None,None,None
202106160000083,83,2021-06-16 03:05:55.297,1,1,116465,1,4969.91,617.15,2,3067179.96,...,619.0,618.89,1,1,2,1,114466,None,None,None

In [86]:
##Blueprint   be carefull###
tradedate = "2021-06-11"

monexpp = 618.38
monexbid = 0.00
monexbidpp = 619.00
monexask = 47000.00
monexaskpp = 618.47



##Falta hacer filtros para deals perdidos y deals delete con posicion inverssa
bidtotalcliente = fxblottert.loc[fxblotter['comccyid'] == 1, 'montocom'].sum()
asktotalcliente = fxblottert.loc[fxblotter['venccyid'] == 1, 'montoven'].sum()


###FX Posicion Import fxblotter.t as a DF to make calculations###
bidtotal = (fxblottert.loc[fxblottert['comccyid'] == 1, 'montocom'].sum() + monexbid)
asktotal = (fxblottert.loc[fxblottert['venccyid'] == 1, 'montoven'].sum() + monexask)

###fxnetposclientes = bidtotal - asktotal ### USD Moneda base ###
fxnetpos = (bidtotal) - (asktotal) ### USD Moneda base ###
fxnetposclientes = (bidtotalcliente) - (asktotalcliente) ### USD Moneda base ###
## Weighted average 
bidpp = (fxblottert.loc[fxblottert['comccyid'] == 1, 'montoven'].sum() +(monexbid*monexbidpp)) / bidtotal
askpp = (fxblottert.loc[fxblottert['venccyid'] == 1, 'montocom'].sum() +(monexask*monexaskpp)) / asktotal

print1 ="FX net position:  {:,} USD"
print(print1.format(fxnetpos))
print2 ="FX clients net position:  {:,} USD"
print(print2.format(fxnetposclientes))

print3 ="Bid total amount:  {:,} @ {}"
print(print3.format(bidtotal, bidpp))

print4 ="Ask total amount:  {:,} @ {}"
print(print4.format(asktotal, askpp))

FX net position:  338.41999999999825 USD
FX clients net position:  47,338.42 USD
Bid total amount:  87,338.42 @ 617.1221099488632
Ask total amount:  87,000.0 @ 619.173448275862

In [85]:
##PnL##
if fxnetpos > 0:   
    coveredpnl =  asktotal * (askpp - bidpp)
    uncoveredpnl = (bidtotal - asktotal) * (monexpp - bidpp)  
else :
    coveredpnl =  bidtotal * (askpp - bidpp)
    uncoveredpnl = (asktotal - bidtotal) * (askpp - monexpp)
###uncoveredpnl

##if fxnetpos > 0 :
##    
##else :   
##    
totalpnl = coveredpnl + uncoveredpnl

print5 ="daily total pnl is:  {:,} crc"
print(print5.format(totalpnl))

##print(f"daily total pnl is: {totalpnl}")
##print(f"FX net position:  {fxnetpos}")

daily total pnl is:  178,892.12960000153 crc

In [11]:
#### a partir de aqui es devvvvvv


onexbidpp = 619.00
monexask = 121000.00
monexaskpp = 618.90monexpp = 618.89
monexbid = 1000.00
monexaskpp = 618.47


## fatla filtro para fecha. 
##Falta hacer filtros para deals perdidos y deals delete con posicion inverssa


###FX Posicion Import fxblotter.t as a DF to make calculations###
bidtotal = (fxblotter[fxblotter['comccyid']=='1']['montocom'].sum() + monexbid)
asktotal = (fxblotter[fxblotter['venccyid']=='1']['montoven'].sum() + monexask)
print(f"Bid total amount:  {bidtotal}")
print(f"Ask total amount:  {asktotal}")
print(f"Bid total amount:  {monexbid}")
print(f"Ask total amount:  {monexask}")


##PnL##
if fxnetpos > 0:   
    coveredpnl =  asktotal * (askpp - bidpp)
    uncoveredpnl = (bidtotal - asktotal) * (monexpp - bidpp)  
else :
    coveredpnl =  bidtotal * (askpp - bidpp)
    uncoveredpnl = (asktotal - bidtotal) * (askpp - monexpp)
###uncoveredpnl

##if fxnetpos > 0 :
##    
##else :   
##    
totalpnl = coveredpnl + uncoveredpnl

print5 ="daily total pnl is:  {:,} crc"
print(print5.format(totalpnl))

##print(f"daily total pnl is: {totalpnl}")
##print(f"FX net position:  {fxnetpos}")

Bid total amount:  1000.0
Ask total amount:  121000.0
Bid total amount:  1000.0
Ask total amount:  121000.0

In [23]:
monexpp = 610.00
monexbid = 0
monexbidpp = 0
monexask = 0
monexaskpp = 0

###FX Posicion Import fxblotter.t as a DF to make calculations###
bidtotal = fxblotter[fxblotter['comccyid']=='USD']['montocom'].sum()
asktotal = fxblotter[fxblotter['venccyid']=='USD']['montoven'].sum()
fxnetpos = bidtotal - asktotal ### USD Moneda base ###
## Weighted average 
bidpp = fxblotter[fxblotter['comccyid']=='USD']['montoven'].sum() / bidtotal
askpp = fxblotter[fxblotter['venccyid']=='USD']['montocom'].sum() / asktotal
##PnL##
coveredpnl =  min(bidtotal, asktotal) * (askpp - bidpp)  
###uncoveredpnl
if fxnetpos > 0:
    uncoveredpnl = (bidtotal - asktotal) * (monexpp - bidpp)
else :   
    uncoveredpnl = (asktotal - bidtotal) * (askpp - monexpp)
totalpnl = coveredpnl + uncoveredpnl


print(f"Bid weighted average price:  {bidpp}") 
print(f"Bid total amount:  {bidtotal}")
print(f"Ask weighted average price:  {askpp}") 
print(f"Ask total amount:  {asktotal}")
print(f"FX net position:  {fxnetpos}")
print(f"daily total pnl is: {totalpnl}")

bidtotal = fxblotter.loc[fxblotter['comccyid'] == 1, 'montocom'].sum()
asktotal = fxblotter.loc[fxblotter['venccyid'] == 1, 'montoven'].sum()
print(f"Bid total amount:  {bidtotal}")
print(f"Ask total amount:  {asktotal}")

Bid weighted average price:  nan
Bid total amount:  0.0
Ask weighted average price:  nan
Ask total amount:  0.0
FX net position:  0.0
daily total pnl is: nan

<ipython-input-23-d13186371398>:12: RuntimeWarning: invalid value encountered in double_scalars
  bidpp = fxblotter[fxblotter['comccyid']=='USD']['montoven'].sum() / bidtotal
<ipython-input-23-d13186371398>:13: RuntimeWarning: invalid value encountered in double_scalars
  askpp = fxblotter[fxblotter['venccyid']=='USD']['montocom'].sum() / asktotal

In [7]:
##Deal Management Blotter###
qtrades = fxblotter['side'].value_counts()
qestado = fxblotter['estado'].value_counts()
print(qtrades)
print(qestado)

bid           3
ask           1
Name: side, dtype: int64
aplicada    4
Name: estado, dtype: int64

In [ ]:
or

bidpp = fxblotter[fxblotter['ccycom']=='USD']['montoven'].sum() / bidtotal
askpp = 




 # Write the SQL query
query = """
SELECT agent_id, COUNT(region_id) as region_count
FROM agent_region_junction
GROUP BY agent_id
"""

# Read the SQL query into a DataFrame
agent_region_df = pd.read_sql(query, engine)

# Show the DataFrame's head
agent_region_df

## FX Posicion

<mark>Import fxblotter.t as a DF to make calculations</mark>

<mark>netpos = \[monto total de ventas (USD moneda base)\]  -  \[monto total de compra (USD moneda base)\]</mark>

## Stats

asktotal y askpp 

bidtotal y bidpp

## PnL 

PnL =  min \[total offer ,total bid \] \* \[ pp de offer  -  pp de bid\]  + if \[netpos \>0 , (bidtotal - offertotal) \* (monex.pp - bidpp), (offertotal - bidtotal) \* (offerpp - monexpp) \]

## DMB

compras, ventas, cantidad por 'estado', monex compra venta

## <span style="font-size: 14px;">definir compras y ventas de monex como variables float insert</span>

<span style="font-size: 14px;"><br></span>