In [1]:
##Libraries##

import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import insert
import pyodbc
import numpy as np
import matplotlib.pyplot as plt

In [49]:
##Connection to cmv_uat database##

server = 'tcp:mycmvserver.database.windows.net' 
database = 'cmvdb_uat' 
username = 'ecervantes@cmvlatam.com' 
password = 'Columbia87/' 


connection = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:mycmvserver.database.windows.net,1433;Database=cmvdb_uat;Uid='+username+';Pwd='+password+';Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;Authentication=ActiveDirectoryInteractive')
cursor = connection.cursor()

In [86]:
##ncliente =  ###### ##Blotter + last 5 trades ### 
query = "SELECT * FROM [dbo].[fxblotter.t]"
# Read the SQL query into a DataFrame
fxblotter = pd.read_sql(query, connection, index_col='tradeid', parse_dates=True)
fxblotter.sort_index(inplace=True)
fxblotter['year'] = pd.DatetimeIndex(fxblotter['tradedate']).year
fxblotter['month'] = pd.DatetimeIndex(fxblotter['tradedate']).month
fxblotter['day'] = pd.DatetimeIndex(fxblotter['tradedate']).day
fxblotter['weekday'] = pd.DatetimeIndex(fxblotter['tradedate']).weekday
fxblotter = fxblotter[fxblotter['sideid'] == 1] 
fxblotterh = fxblotter[['year','month','day','accionid','sideid','montocom']]
a = fxblotterh.pivot_table(index=['year','month','accionid', 'sideid'],
                        values=['montocom',], 
                        aggfunc={'montocom':np.mean,'sideid':len})
a = round(a.astype(float,2))
print(a)
fxblotter.dtypes
#afxblotter = pd.to_datetime(fxblotter['tradedate'])
#fxblotter['year'] = fxblotter.dt.year
##fxblottert = fxblotter.loc[fxblotter['clienteid'] == ncliente]
#fxblotter = fxblotter[fxblotter['sideid'] == 1]

                            montocom  sideid
year month accionid sideid
2020 7     1        1        12485.0    82.0
     8     1        1        13909.0   150.0
     9     1        1         8540.0   195.0
     10    1        1         8581.0   144.0
     11    1        1         7504.0   184.0
     12    1        1        14059.0   221.0
2021 1     1        1         8840.0   203.0
     2     1        1         9349.0   203.0
     3     1        1         9900.0   257.0
     4     1        1         9720.0   223.0
     5     1        1         9658.0   239.0
     6     1        1         8945.0   268.0
     7     1        1        12574.0   145.0
           4        1        75000.0     2.0

tiquetid                   int64
createdat         datetime64[ns]
accionid                   int64
sideid                     int64
clienteid                  int64
comccyid                   int64
montocom                 float64
px_sp                    float64
venccyid                   int64
montoven                 float64
tradedate                 object
valuedate                 object
px_cover                 float64
monex_pxlast             float64
monex_pp                 float64
estadoid                   int64
dealerid                   int64
productotipoid             int64
solicitud                 object
deletetradeid             object
UT1                       object
UT2                       object
ventanillabid            float64
ventanillaask            float64
year                       int64
month                      int64
day                        int64
weekday                    int64
dtype: object

In [ ]:
#afxblotter = pd.to_datetime(fxblotter['tradedate'])
#fxblotter['year'] = fxblotter.dt.year
##fxblottert = fxblotter.loc[fxblotter['clienteid'] == ncliente]
#fxblotter = fxblotter[fxblotter['sideid'] == 1] 
fxblotterh = fxblotter[['accionid','sideid','montocom',]]
a = fxblotterh.pivot_table(index=['accionid', 'sideid'],
                        values=['montocom',], 
                        aggfunc={'montocom':np.mean,'sideid':len})
a = round(a.astype(float,2))
print(a)

In [26]:
##ncliente =  ###### ##Blotter + last 5 trades ### 
query = "SELECT * FROM [dbo].[fxblotter.t]"
# Read the SQL query into a DataFrame
fxblotter = pd.read_sql(query, connection, index_col='tradeid', parse_dates=True)
fxblotter.sort_index(inplace=True)
##fxblottert = fxblotter.loc[fxblotter['clienteid'] == ncliente]
fxblotterh = fxblotter[['accionid','sideid','montocom','montoven']]
a = fxblotterh.pivot_table(index=['accionid', 'sideid'],aggfunc=[np.mean])

                         mean
                     montocom      montoven
accionid sideid
1        1       1.011621e+04  6.149770e+06
         2       1.338693e+07  2.194576e+04
4        1       7.500000e+04  4.639050e+07
         2       4.350992e+08  6.991667e+05

In [ ]:
##ncliente =  ###### ##Blotter + last 5 trades ### 
query = "SELECT * FROM [dbo].[fxblotter.t]"
# Read the SQL query into a DataFrame
fxblotter = pd.read_sql(query, connection, index_col='tradeid', parse_dates=True)
fxblotter.sort_index(inplace=True)
#datetime format#
fxblotter['tradedate'] = pd.to_datetime(fxblotter['tradedate'])
fxblotter['valuedate'] = pd.to_datetime(fxblotter['valuedate'])
## filtro para numero de cliente en T o dia de consulta ###
##fxblottert = fxblotter.loc[fxblotter['clienteid'] == ncliente]
fxblotterh = fxblotter[['accionid','sideid','clienteid','comccyid','montocom','venccyid','montoven','tradedate','valuedate']]
fxblotterh.pivot_table(fxblotterh, index=['accionid', 'sideid'],aggfunc=[np.sum,len])

## filtro para accionid, escencialmente deja los Lost deals por fuera del calculo ##
##fxblottert = fxblottert[fxblottert['accionid'] == 1] ### acepting 'addnew', 'lost' do not count for spread analysis##



##fxblottert.stack(index=['tradedate','sideid'])

##pivot(index='sideid', columns='tradedate', values='comccyid').sum